* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(252, 253, 178), rgb(253, 255, 115));
}

header, footer {
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

form {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='submit'] {
    transition: all 0.3s ease;
    color: white;

    &:hover, &:focus{
        animation: bounce 0.5s ease;
        color: white;
    }

}

.user-input {
    // background: rgb(177, 252, 255);
    transition: all 0.3s ease;

    &:focus {
        transform: scale(1.2);
    }
}

.form-field-error{
    color: red;
    font-weight: bold;
    animation: bounce 0.5s ease;
}

.success-message {
    color: rgb(62, 247, 62);
    font-weight: bold;
    margin: 2rem;
    animation: bounce .5s ease;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0);
    }
}